@import "https://fonts.googleapis.com/css?family=Lato:100";

html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 100;
  font-family: 'Lato';
  background-color: #f9f9f9; }

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle; }

.content {
  text-align: center;
  display: inline-block; }
.content span {    
  font-weight: bold; }
.content a {
  font-size: 1.5em; }
.content a.fb {
  color: #3E588E;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
.content a.fb:hover {
  color: #1A356D; }
.title {
  font-size: 96px;
  font-weight: bold;
  color: #212121;
}

ul {
  list-style: none;
  padding-left: 0;
  color: #ef5350; }

input[type=text] {
  margin-right: 14px; }

.error-list {
  color: #f44336; }

a, a:visited {
  text-decoration: none; }

.footer {
  font-weight: 400;
  font-size: 13px;
}


